$header-col: #E2E5DE;
$h1-col: #122050;
$cat-col: #D9D9D9;

.header-h1{
    color: $h1-col;
}

header{
    .row{
        background-color: $header-col;
    }
}

.cat-link{
    color: $h1-col;
    text-decoration: none;
}
.cat-menu{
    .col{
        border: 1px;
    }
    background-color: $cat-col;
}
section{
    padding-top: 20px;
}
.img-news{

}
.img-news-img{
    max-width: 639px;
    max-height: 432px;
}